/* Debian language css file for arabic - ar */

html[lang|=ar] q:before { content: "\00AB"; }
html[lang|=ar] q:after { content: "\00BB"; }

html[lang=ar] blockquote.quote p:first-child:before { content: "\00AB"; }
html[lang=ar] blockquote.quote p:after { content: ""; }
html[lang=ar] blockquote.quote p.last:after { content: "\00BB"; }

html[lang=ar] #header {
	padding:0 52px 0 10px;
}
html[lang=ar] #logo {
	left: auto;
	right: 0;
	direction: ltr;
}
html[lang=ar] #searchbox {
	left: 0;
	right: auto;
}
html[lang=ar] #navbar li {
	float: right;
}
html[lang=ar] #content,
html[lang=ar] #footer {
	margin:0 52px 0 10px;
}
html[lang=ar] #langContainer {
	direction: ltr;
	text-align: right;
}
html[lang=ar] ul#hometoc-cola, html[lang=ar] ul#hometoc-colb, 
html[lang=ar] ul#hometoc-colc, html[lang=ar] ul#hometoc-cold,
html[lang=ar] ul#hometoc-cole {
	float: right;
}
html[lang=ar] ul#footermap-cola, html[lang=ar] ul#footermap-colb,
html[lang=ar] ul#footermap-colc, html[lang=ar] ul#footermap-cold,
html[lang=ar] ul#footermap-cole {
	float: right;
}
html[lang=ar] ol,
html[lang=ar] ul {
	padding-right: 1.5em;
	padding-left: 0;
}
html[lang=ar] span.download {
	left: 13px;
	right: auto;
}
html[lang=ar] a.rss_logo {
	float: left;
}
html[lang=ar] ol {
	list-style-type: -moz-arabic;
	list-style-type: arabic;
}
html[lang=ar] body {
	direction: rtl;
	font-family: sans-serif;
	line-height: 1.8;
}
html[lang=ar] #header, html[lang=ar] #footer,
html[lang=ar] #breadcrumbs, html[lang=ar] #second-nav, 
html[lang=ar] #navbar ul, html[lang=ar] h1, h2, h3, h4, h5, h6 {
	direction: rtl;
	font-family: sans-serif;
}
html[lang=ar] #software.column-right li, 
html[lang=ar] #community.column-left li {
	text-align: right;
}
html[lang=ar] .slider-wrapper, 
html[lang=ar] .slider-prev-next-control,
html[lang=ar] .slider-dot-control {
	direction: ltr;
}

/* Adjust padding direction for .project-news-content on the start page. */
html[lang=ar] .project-news-content {
	padding-left: 0;
	padding-right: 110px;
}

/* Change the direction of "Animating Underlines" from LTR to RTL */
html[lang=ar] .styled-href-blue a::after,
html[lang=ar] .project-news-content a::after {
	right: 0;
}

/* Adjust padding direction of "Project News" section on the home page. */
html[lang=ar] .project-news {
	margin-left: 0;
	margin-right: 15%;
}

html[lang=ar] a:link.rss_logo {
	float: left;
	margin-left: 0;
	margin-right: 0.25em;
}
html[lang=ar] .end-of-list-arrow {
	-moz-transform: rotate(180deg);
	left: 0;
	right: 3.5em;
}
